In [1]:
import pandas as pd

In [2]:
cars = ["Porsche", "Eon", "Sonata", "Octavia"]
pd.Series(cars)

0    Porsche
1        Eon
2     Sonata
3    Octavia
dtype: object

In [6]:
import random
integer_bank = [i for i in range(1, 51)]
test_nums = [random.choice(integer_bank) for i in range(10)]
pd.Series(test_nums)

0    44
1    28
2     9
3     2
4    38
5    20
6    36
7     3
8    27
9    37
dtype: int64

In [10]:
webstr = {
    "Subhayan" : "Bhattacharya",
    "Shaayan" : "Bhattacharya",
    "Poulomi" : "Adhikary"
}

pd.Series(webstr)

Subhayan    Bhattacharya
Shaayan     Bhattacharya
Poulomi         Adhikary
dtype: object

In [12]:
import faker

fake = faker.Faker()
words = [fake.word() for i in range(10)]
d = pd.Series(words)
d.values

array(['issue', 'need', 'goal', 'job', 'perform', 'you', 'agency', 'hear',
       'teacher', 'Republican'], dtype=object)

In [4]:
import pandas as pd

prices = [2.99, 4.35, 1.46]
s = pd.Series(prices)
print(s.sum())

8.8