In [1]:
import pandas as pd

In [2]:
cars = ["Porsche", "Eon", "Sonata", "Octavia"]
pd.Series(cars)

0    Porsche
1        Eon
2     Sonata
3    Octavia
dtype: object

In [6]:
import random
integer_bank = [i for i in range(1, 51)]
test_nums = [random.choice(integer_bank) for i in range(10)]
pd.Series(test_nums)

0    44
1    28
2     9
3     2
4    38
5    20
6    36
7     3
8    27
9    37
dtype: int64

In [10]:
webstr = {
    "Subhayan" : "Bhattacharya",
    "Shaayan" : "Bhattacharya",
    "Poulomi" : "Adhikary"
}

pd.Series(webstr)

Subhayan    Bhattacharya
Shaayan     Bhattacharya
Poulomi         Adhikary
dtype: object

In [12]:
import faker

fake = faker.Faker()
words = [fake.word() for i in range(10)]
d = pd.Series(words)
d.values

array(['issue', 'need', 'goal', 'job', 'perform', 'you', 'agency', 'hear',
       'teacher', 'Republican'], dtype=object)

In [5]:
import pandas as pd

prices = [2.99, 4.35, 1.46]
s = pd.Series(prices)
print(s.sum())
print(s.product())

8.8
18.989489999999996

In [8]:
# Demonstrates how we can use some other list as the index of a list in pandas and also an index can be a duplicate value
# As is the case in Tuesday
fruits = ["Apple", "Orange", "Grapes", "Banana", "Berry", "Mango"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Tuesday"]
pd.Series(fruits, weekdays)

Monday        Apple
Tuesday      Orange
Wednesday    Grapes
Thursday     Banana
Friday        Berry
Tuesday       Mango
dtype: object

## A small example from the Python cookbook

In [12]:
# Just a small example of one tricks with iterators got from the book on cookbook in Python

def even_no():
    for i in range(1, 11):
        if i % 2 == 0:
            yield i

# Consuming the iterable
g = even_no()
while True:
    value = next(g, None)
    if value is None:
        break
    print(f"The value got from the generator is {value}")
print("Program ended...")

The value got from the generator is 2
The value got from the generator is 4
The value got from the generator is 6
The value got from the generator is 8
The value got from the generator is 10
Program ended...

## Introduction to the read_csv method in pandas

In [19]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [22]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64